#nex_logs{
    background: #dfe4ef;
    padding: 1px 15px;
    border-radius: 2px;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
}
#nex_logs p{
    margin: 20px 0;
}
#nex_logs span{
    display: inline-block;
}
.file_log{
    background: #ffffff;
    padding: 7px 8px 4px;
    font-size: 13px;
    margin-top: 2px;
    border-radius: 8px;
}