.module_table{
    background: #fff;
    display: grid;
    align-items: center;
    grid-gap: 15px;
    grid-template-columns: 70px 1fr;
    padding: 15px;
}
.module_table:not(:last-child){
    border-bottom: 1px #b7bed4 dashed;
}
.module_box h2{
    font-size: 18px;
    margin-bottom: 5px;
}
.module_version{
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    float: right;
}
.module_description{
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}
.btn_module_activate{
    background: #83cd3f;
}
.btn_module_activate:hover{
    background: #6ab327;
}
.btn_module_deactivate{
    background: #72798b;
}
.btn_module_deactivate:hover{
    background: #5a6279;
}
.btn_module_remove{
    background: #e74a4a;
}
.btn_module_remove:hover{
    background: #e81f1f;
}
.fileMod{
    background: #f0f4fd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 0 4px #d3d8e3 inset;
}
.filePath{
    background: none;
    color: #e35c55 !important;
    border: none !important;
    border-bottom: 1px #d3d8e5 solid !important;
    padding: 4px !important;
    margin: 0 !important;
    font-weight: 500;
}
.actionsFile{
    background: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #d3d8e3;
}
.actionsFileSelect{
    background-color: #fff;
    border: none !important;
    border-bottom: 1px #d3d8e5 solid !important;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 0;
}
.actionsBox{
    margin-top: 15px;
}
.actionBox_{
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 20px;
}
.add_action{
    background: #72798b;
    color: #fff !important;
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 2px;
}
.add_action:hover{
    background: #2b3643;
}
.add_file{
    background: #58687c;
    padding: 5px 10px;
}
.add_file:hover{
    background: #2b3541;
}
.fpb{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 15px;
    align-items: center;
    width: calc(100% - 50px);
}
.baseQueries:not(:first-child){
    margin-top: 15px;
}
#routes h2{
    margin-bottom: 5px;
}
#routes td{
    padding: 0;
}
#routes td input[type="text"]{
    background: none;
    border: none;
    margin: 0;
}
#routes td:last-child label{
    margin: 3px 0 0 10px;
}
.addRoute{
    padding: 5px 10px;
    margin-top: 10px;
}