:root {
    --main-bg: #ECF0FA;
    --main-color: #72798b;
    --main-color-p: #74788d;
    --main-color-g: #a9adbf;
    --bg-global: #FFFFFF;
    --bg-grey: #E8EAEA;
    --bg-green: #CCF0E3;
    --bg-blue: #D3E8FB;
    --bg-red: #FCDADA;
    --bg-yellow: #FBECD2;
    --c-white: #FFFFFF;
    --c-black: #3A4451;
    --c-black-hover: #1e2834;
    --c-grey: #929dbb;
    --c-grey-s: #aeb7cc;
    --c-green: #51CA9E;
    --c-success: #83cd3f;
    --c-success-hover: #66bf14;
    --c-blue: #50A5F1;
    --c-red: #F75858;
    --c-red-hover: #e11010;
    --c-yellow-s: #FFB73E;
    --c-yellow: #FFB73E;
    --firma-color: #47b3ff;
    --firma-color-hover: #1398f8;
    --shadow-big: -8px 12px 18px 0 #dadee8;
    --shadow: 0 2px 4px rgb(15 34 58 / 12%);
    --shadow-1: 0 2px 4px #0f223a2b;
    --shadow-2: 0 3px 8px #0f223a2b;
    --input-border: #d9deed;
    --focus: #90cbff;
    --placeholder: #b1b7c7;
}
a{
    color: #50A5F1;
    text-decoration: none;
    transition: .2s;
}