.plugin{
    background: #fff;
    padding: 10px;
    border-radius: 2px;
}
.plug_poster{
    display: block;
    text-align: center;
}
.plug_title{
    font-size: 17px;
    margin: 10px 0;
    height: 37px;
    overflow: hidden;
}
.plug_desc{
    color: #62677c;
    display: block;
    height: 70px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.plug_desc:after{
    content: "";
    background: linear-gradient(0deg, white, transparent);
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.plug_info{
    margin-top: 10px;
}
.plug_buttons{
    margin-top: 10px;
}
.btn_uninstall{
    background: #50576b;
}
.btn_uninstall:hover{
    background: #2b3546;
}
#plugin_detail{
    background: #fff;
    padding: 0;
}
#plugin_detail .modal_title{
    font-weight: 500;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: .5s;
}
#plugin_detail .modal_body{
    text-align: left;
    position: relative;
    margin: -33px 5px 5px 5px;
}
.tabs_content p{
    line-height: 21px;
}
.tabs_content p:not(:last-child){
    margin-bottom: 10px;
}
.plugin_header{
    background-size: cover !important;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 150px 1fr;
    align-items: center;
    text-align: left;
    padding: 2em 2em 5em;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.plugin_header:after{
    content: "";
    background: linear-gradient(0deg, white, transparent);
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
}
.plugin_header h2{
    font-size: 4em;
}
.bg_black{
    color: #fff;
}
.bg_white{
    color: #000;
}
.plugin_more_info{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 15px;
}
.plugin_details{
    background: #fff;
    margin-top: 33px;
    padding: 10px;
    border-left: 1px #cdd2e1 dashed;
}
.plugin_details li{
    margin-bottom: 15px;
}
.plugin_details li b{
    display: inline-block;
    margin-right: 10px;
}
.plugin_details .btn_install{
    float: right;
    margin-bottm: 20px;
    position: sticky;
    top: 45px;
}
.plugin_more_info h2{
    font-size: 19px;
    margin-bottom: 10px;
}
.plugin_more_info h3{
    font-size: 17px;
    margin-bottom: 10px;
}
#plugin_images{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
hr{
    border-top: 1px #cdd2e1 dashed;
}