@media (max-width:955px) {
   /* nav {
        background-color: white;
    }*/
    .nav-logo a {
        margin: 0.5em;
    }
    .text-center h3 {
        font-size: 1em;
    }
    .text-center h1 {
        font-size: 2.5em;
    }
    .text-center p {
        font-size: 1em;
        line-height: 1em;
    }
    header {
        height: 550px;

    }
    .text-center {
        top: 11em;
        bottom: unset;
    }
}

@media (max-width:800px) {
    .nav-logo a {
        margin: 2em;
    }
    .features {
        justify-content: center;
        flex-wrap: wrap;
        margin: 5em auto 0;
    }
    .features-item{
        max-width: 40%;
        align-items: center;
        text-align: center;
        padding-bottom: 2.5em;
    }
    .help {
        margin-top: 40em;
    }
    .help h2 {
        margin-top: 2em;
    }
    .help p {
        line-height: 1em;
        margin: 0em 1em;
    }
}

@media (max-width:705px) {
    .text-center p,.text-center h3{
        display: none;
    }
    .buttons-wrapper {
        flex-direction: column;
        margin-top: 2.5em;
    }
    .buttons-wrapper a{
        margin: 0.5em 2em;
    }
    .template {
        top: 36em;
    }
    .template h2,.offer-text h2 {
        font-size: 2em;
    }
    .offer-text p {
        font-size: 1em;
    }
    .features {
        margin: 4em auto 0;
    }
    .help {
        margin-top: 40em;
    }
    .footer_container {
        flex-direction: column;
    }
    .container-left,.container-right {
        margin: 0 auto;
    }
    .container-right {
        margin-top: 2.5em;
    }
}

@media (max-width:635px) {
    .nav-wrapper a{
        font-size: 0.7em;
    }
}
@media (max-width:605px) {
    .template {
        top: 34em;
    }
    .template h2 {
        font-size: 2em;
    }
    .template p {
        margin: 1em 1em;
    }
    .features {
        margin: 3em auto 0;
    }
    .features-item{
        max-width: 100%;
       
    }
    .help {
        margin-top: 66em;
    }
    .help p{
        margin: 0em 1em;
    }
    .container-left,.container-right {
        margin: 0;
        max-width: unset;
        width: 90%;
        padding-left: 1em;
    }
    .container-right {
        margin-top: 2em;
    }
}

@media (max-width:545px) {
    .nav-logo{
        width: 100%;
        text-align: center;
    }
    .nav-wrapper a{
        display: none;
    }
}
@media (max-width:505px) {
    .help {
        margin-top: 70em;
    }
    .template {
        top: 31em;
    }
    .clients {
        display: none;
    }
    .text-center h1 {
        font-weight: 300;
        margin: 0 1em;
        letter-spacing: 0.05em;
    }
    .gallery_item {
        height: auto;
    }
}

@media (max-width:400px) {
    .nav-logo a {
        margin-right:0em;
    }
    .help {
        margin-top: 74em;
    }
    .nav-wrapper {
        display: none;
    }
    .features {
        margin: 2em auto 0;
    }
    .search,.shoppingCart {
        margin: 0.4em 0.7em;
        width: 18px;
        height: 18px;
        background-size: contain;
    }
    footer {
        margin-top: 1em;
    }

}

@media (max-width:350px) {
    .template {
        top: 28.5em; 
    }
}