.CodeMirror { background: #f1f4fb; color: #74788d; font-size: 14px; height: auto; max-height: 200px }
.baseQueries .CodeMirror { height: 300px; }
div.CodeMirror-selected { background: #cad3eb }
.CodeMirror-line::selection,  .CodeMirror-line > span::selection,  .CodeMirror-line > span > span::selection { background: #161A1F }
.CodeMirror-line::-moz-selection,  .CodeMirror-line > span::-moz-selection,  .CodeMirror-line > span > span::-moz-selection { background: #161A1F }
.CodeMirror-gutters { background: #ecf0fa; border-right: 1px solid #d7deed }
.CodeMirror-guttermarker { color: #ffee80 }
.CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.CodeMirror-linenumber { color: #b7c0d5; font-weight: 300; font-style: italic; font-size: 13px }
.CodeMirror-cursor { border-left: 2px solid #74788d; }

span.cm-variable { color: #14a6eb; font-style: italic }
span.cm-operator { color: #00b8ff; font-weight: 400 }
span.cm-comment { color: #a3aabb; font-style: italic; font-weight: 300 }
span.cm-atom { color: #28c7c7; font-weight: 500 }
span.cm-number,  span.cm-attribute { color: #e95c5c; font-weight: 600 }
span.cm-keyword { color: #a935e5; font-style: italic }
.baseQueries span.cm-keyword { color: #7371e9; font-style: italic; font-weight: 600 }
.baseQueries span.cm-bracket { color: #51adfb }
span.cm-string { color: #738abf; font-size: 13px }
span.cm-meta { color: #fff; }
span.cm-variable-2,  span.cm-tag { color: #47aaf7 }
span.cm-variable-3, .cm-type { color: #44a7fb }
span.cm-def { color: #00b2e7; }
span.cm-bracket { color: #d8d8d8; }
span.cm-builtin,  span.cm-special { color: #ff9e59 }
span.cm-link { color: #845dc4; }
span.cm-error { color: #9d1e15; }
span.cm-variable-2, span.cm-tag{ color: #3887fd }
.baseQueries span.cm-variable-2, span.cm-tag{ color: #646c81 }
.CodeMirror-activeline-background { background: #002D57 }
.CodeMirror-matchingbracket { outline:1px solid grey;color:white !important }